:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 32px); // calculation could differ depending on showing it in the document tab or in a seperate window
}

.document-content {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

app-document-meta {
  min-width: 320px;
  flex: 600px 1 1;
}

app-example-pdf-viewer {
  flex: 100% 1 1;
}

.document-buttons {
  display: flex;
  gap: 32px;
  padding: 16px 32px;
  background-color: white;
}

:host::ng-deep {
  mat-form-field.mat-mdc-form-field {
    .mdc-text-field {
      border-radius: 0;
    }

    .mdc-line-ripple {
      display: none;
    }

    .mdc-text-field--no-label {
      background-color: #fafafa;

      .mat-mdc-form-field-infix {
        min-height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
