.mat-mdc-dialog-content {
  background-color: #fafafa;
}

button[color='primary'] {
  color: white !important;
  background-color: #37c391 !important;
}

button {
  text-transform: uppercase;
}

mat-dialog-actions {
  justify-content: space-between;
}

mat-dialog-actions {
  padding: 16px 32px;
}
