<slo-expansion-panel-list titleLabel="Zuordnung">
    <slo-data [newStyle]="true">
        <slo-data-item label="Name">
            <mat-form-field
                    color="accent"
                    class="example-full-width"
                    subscriptSizing="dynamic"
            >
                <textarea
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="10"
                        value="Abrechnung TV4 (2)"
                        (click)="$event.stopPropagation()"
                ></textarea>
            </mat-form-field>
        </slo-data-item>
        <slo-data-item label="Dokumenttyp">
            <mat-form-field
                    color="accent"
                    class="example-full-width"
                    subscriptSizing="dynamic"
            >
                <mat-select value="Abrechnung">
                    <mat-option value="Abrechnung"
                    >Abrechnung
                    </mat-option
                    >
                </mat-select>
            </mat-form-field>
        </slo-data-item>
        <slo-data-item label="Geschäftspartner">
            <mat-form-field subscriptSizing="dynamic" color="accent">
                <mat-select value="424232 Meyer GmbH">
                    <mat-option value="424232 Meyer GmbH">424232 Meyer GmbH</mat-option>
                </mat-select>
            </mat-form-field>
        </slo-data-item>
        <slo-data-item label="Vertrag">
            <mat-form-field subscriptSizing="dynamic" color="accent">
                <mat-select value="24545245">
                    <mat-option value="24545245">24545245</mat-option>
                </mat-select>
            </mat-form-field>
        </slo-data-item>
        <slo-data-item label="Teilvertrag">
            <mat-form-field subscriptSizing="dynamic" color="accent">
                <mat-select value="1">
                    <mat-option value="1">1</mat-option>
                </mat-select>
            </mat-form-field>
        </slo-data-item>
        <slo-data-item label="Schlagwort">
            <mat-form-field subscriptSizing="dynamic" color="accent">
                <mat-select value="Vertrag / Unterlagen">
                    <mat-option value="Vertrag / Unterlagen">Vertrag / Unterlagen</mat-option>
                </mat-select>
            </mat-form-field>
        </slo-data-item>
    </slo-data>
</slo-expansion-panel-list>
<slo-expansion-panel-list titleLabel="Datei">
    <slo-data [newStyle]="true">
        <slo-data-item label="Dateigröße">3939 KB</slo-data-item>
        <slo-data-item label="Abgelegt am">01.01.2023</slo-data-item>
        <slo-data-item label="Abgelegt von">Christoph Merkelbach</slo-data-item>
    </slo-data>
</slo-expansion-panel-list>
<slo-expansion-panel-list titleLabel="Rechnungsdaten">
    test
</slo-expansion-panel-list>
<slo-expansion-panel-list titleLabel="Lorem Ipsum">
    <slo-data [newStyle]="true">
        <slo-data-item label="Name">Abrechnung TV4 (2)</slo-data-item>
        <slo-data-item label="Dokumenttyp">Abrechnung</slo-data-item>
        <slo-data-item label="Geschäftspartner">424232 Meyer GmbH</slo-data-item>
        <slo-data-item label="Vertragsnr.">23243523 Große Bagger</slo-data-item>
        <slo-data-item label="Teilvertragsnr.">1</slo-data-item>
        <slo-data-item label="Schlagwort">Vertrag / Unterlagen</slo-data-item>
    </slo-data>
</slo-expansion-panel-list>
<slo-expansion-panel-list titleLabel="Änderungshistorie" class="no-body-background">
    <div class="history">
        <div class="version">
            <div class="version-info">
                <span>Version 4 <small>(aktuell)</small></span>
                <span>21.02.2023</span>
                <slo-benutzer-display [benutzer]="{vorname: 'Christoph', nachname: 'Merkelbach'}"></slo-benutzer-display>
            </div>
            <div class="history-data-item">
                <div class="values">
                    <span class="value value--new">Annotationen entfernt</span>
                    <mat-icon class="material-symbols-outlined">edit</mat-icon>
                </div>
            </div>
            <div class="history-data-item">
                <div class="label">Name</div>
                <div class="values">
                    <span class="value value--old">Abrechnung TV4 (test)</span>
                    <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
                    <span class="value value--new">Abrechnung TV4 (2)</span>
                </div>
            </div>
            <div class="history-data-item">
                <div class="label">Rechnungsbetrag</div>
                <div class="values">
                    <span class="value value--old">33.300,95 €</span>
                    <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
                    <span class="value value--new">35.300,95 €</span>
                </div>
            </div>
        </div>
        <div class="version">
            <div class="version-info">
                <a href="#">Version 3</a>
                <span>15.02.2023</span>
                <slo-benutzer-display [benutzer]="{vorname: 'Christel', nachname: 'Krause'}"></slo-benutzer-display>
            </div>
            <div class="history-data-item">
                <div class="values">
                    <span class="value value--new">Versendet</span>
                    <mat-icon class="material-symbols-outlined">outgoing_mail</mat-icon>
                </div>
            </div>
            <div class="history-data-item">
                <div class="values">
                    <span class="value value--new">Annotationen hinzugefügt</span>
                    <mat-icon class="material-symbols-outlined">edit</mat-icon>
                </div>
            </div>
        </div>
        <div class="version">
            <div class="version-info">
                <a href="#">Version 2</a>
                <span>11.01.2023</span>
                <slo-benutzer-display [benutzer]="{vorname: 'Stefanie', nachname: 'Nohe'}"></slo-benutzer-display>
            </div>
            <div class="history-data-item">
                <div class="values">
                    <span class="value value--new">Unterzeichnet</span>
                    <mat-icon class="material-symbols-outlined">contract_edit</mat-icon>
                </div>
            </div>
            <div class="history-data-item">
                <div class="label">Rechnungsbetrag</div>
                <div class="values">
                    <span class="value value--old">15.300,95 €</span>
                    <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
                    <span class="value value--new">33.300,95 €</span>
                </div>
            </div>
        </div>
        <div class="version">
            <div class="version-info">
                <a href="#">Version 1</a>
                <span>01.01.2023</span>
                <slo-benutzer-display [benutzer]="{vorname: 'Christoph', nachname: 'Merkelbach'}"></slo-benutzer-display>
            </div>
        </div>
    </div>
</slo-expansion-panel-list>

