<filter-tree (click)="openDialog()"></filter-tree>
<table-overview-example
        (clickDocument)="openDocument($event)"
        [showPagination]="true"
        [showSearchField]="true"
        [showAddButton]="true"
        [showTableHeader]="true"
        [data]="documents"

></table-overview-example>
<div
        class="drop-overlay"
        *ngIf="isDragging"
        (dragleave)="onDragleave($event)"
        (mouseleave)="onDragleave($event)"
        (drop)="onDrop($event)"
>
    <div class="drop-overlay_message">
        <mat-icon [inline]="true" class="material-symbols-outlined"
        >place_item</mat-icon
        >
        <div>5 Dokumente ablegen...</div>
    </div>
</div>
