:host {
  mat-expansion-panel {
    background-color: transparent;
  }
  &::ng-deep .mat-expansion-panel-body {
    margin-top: 4px;
    padding: 16px 32px;
    background-color: white;
  }
}

mat-expansion-panel-header {
  font-size: 1em;
  height: auto;
  background-color: white;

  &.mat-expanded {
    height: auto;
  }

  .title {
    font-weight: 600;
    color: #37c391;
  }

  &::ng-deep .mat-expansion-indicator::after {
    padding: 0 !important;
    transform: none !important;
    width: 0;
    height: 0;
    border: 6px solid transparent !important;
    border-top: 6px solid !important;
    border-bottom: 0;
    color: #37c391;
  }

  .title:after {
    content: ' ';
    white-space: pre;
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    padding: 16px 32px;
  }

  ::ng-deep .mat-card {
    padding: 16px 32px;
    margin-top: 0;
    margin-bottom: 0;

    box-sizing: border-box;
  }
}

// Add top and bottom margin for all non-inlined elements
:host(:not(.inline-content)) {
  ::ng-deep .mat-card {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}

::ng-deep .mat-expansion-panel-content {
  font-size: 1em !important;
}
