body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 32px;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

*:not(.mat-icon) {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
